{% extends 'base.html' %}
{% load bootstrap %}

{% block title %}
    Administraçao de Contas
{% endblock %}

{% block main %}
<div class="row">

    <div class="col">
        {% if user.is_authenticated %}
        <p>Olá {{user.username}}</p>
        <a href="{% url 'my_logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
    <div class="col-6">
        <ul>
            {% for person in persons %}
            <li>
                <a href="{% url 'persons_update' person.id %}"> {{person.first_name}}</a>
                <a href="{% url 'persons_delete' person.id %}">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col"><br>
            <a href="{% url 'person_new' %}" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-plus"></span> Adicionar..
            </a>
        {% endblock %}
    </div>








