<!doctype html>
<html lang="en" xmlns:for="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
    <!-- Proteçao que evita injeção de dados indesejáveis..  -->
        {{form}}
        <button type='submit'>Salvar</button>
    </form>

</body>
</html>


        <!-- Retirei esta parte para permitir atualizar: action="{% url 'person_new' %}" -->
